--
-- PostgreSQL database dump
--

\restrict ZQ42lv3vOOkdRp2YJ0yfSesKbvffUSEwC5SszSpEpSqhAZY3RFvOh2JT2ULyNDe

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: myapp_adminprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_adminprofile (
    id bigint NOT NULL,
    bio text,
    address text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.myapp_adminprofile OWNER TO postgres;

--
-- Name: myapp_adminprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_adminprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_adminprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_appreciation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_appreciation (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    amount numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    recipient_id bigint NOT NULL,
    sender_id bigint NOT NULL
);


ALTER TABLE public.myapp_appreciation OWNER TO postgres;

--
-- Name: myapp_appreciation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_appreciation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_appreciation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_asset; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_asset (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    asset_type character varying(100) NOT NULL,
    serial_number character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    purchase_date date,
    created_at date NOT NULL,
    assigned_to_id bigint
);


ALTER TABLE public.myapp_asset OWNER TO postgres;

--
-- Name: myapp_asset_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_asset ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_asset_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_attendance (
    id bigint NOT NULL,
    date date NOT NULL,
    check_in timestamp with time zone,
    check_out timestamp with time zone,
    hours_worked numeric(5,2) NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.myapp_attendance OWNER TO postgres;

--
-- Name: myapp_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_attendance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_company (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    license_expired boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    members_count integer NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.myapp_company OWNER TO postgres;

--
-- Name: myapp_company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_companydocument; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_companydocument (
    id bigint CONSTRAINT myapp_document_id_not_null NOT NULL,
    title character varying(255) CONSTRAINT myapp_document_title_not_null NOT NULL,
    file character varying(100) CONSTRAINT myapp_document_file_not_null NOT NULL,
    created_at timestamp with time zone CONSTRAINT myapp_document_created_at_not_null NOT NULL,
    uploaded_by_id bigint CONSTRAINT myapp_document_uploaded_by_id_not_null NOT NULL
);


ALTER TABLE public.myapp_companydocument OWNER TO postgres;

--
-- Name: myapp_companypolicy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_companypolicy (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    file character varying(100)
);


ALTER TABLE public.myapp_companypolicy OWNER TO postgres;

--
-- Name: myapp_companypolicy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_companypolicy ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_companypolicy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_document_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_companydocument ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_employee (
    id bigint NOT NULL,
    designation character varying(100) NOT NULL,
    department character varying(100) NOT NULL,
    salary numeric(10,2) NOT NULL,
    user_id bigint NOT NULL,
    casual_leaves integer NOT NULL,
    sick_leaves integer NOT NULL,
    vacation_leaves integer NOT NULL,
    account_number character varying(50),
    address text,
    bank_name character varying(100),
    branch character varying(100),
    date_of_birth date,
    employee_id character varying(50),
    gender character varying(10),
    ifsc_code character varying(20),
    joining_date date,
    phone character varying(15),
    aadhaar_number character varying(12),
    blood_group character varying(10),
    emergency_contact_name character varying(100),
    emergency_contact_phone character varying(15),
    emergency_contact_relation character varying(100),
    marital_status character varying(20),
    nationality character varying(100),
    pan_number character varying(10),
    permanent_address text,
    team_leader_id bigint
);


ALTER TABLE public.myapp_employee OWNER TO postgres;

--
-- Name: myapp_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_expense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_expense (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    category character varying(100) NOT NULL,
    description text,
    date date NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.myapp_expense OWNER TO postgres;

--
-- Name: myapp_expense_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_expense ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_expense_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_holiday; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_holiday (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    date date NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.myapp_holiday OWNER TO postgres;

--
-- Name: myapp_holiday_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_holiday ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_holiday_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_leaverequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_leaverequest (
    id bigint NOT NULL,
    leave_type character varying(100) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    reason text NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.myapp_leaverequest OWNER TO postgres;

--
-- Name: myapp_leaverequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_leaverequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_leaverequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_letterhead; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_letterhead (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    document_type character varying(50) NOT NULL,
    file character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.myapp_letterhead OWNER TO postgres;

--
-- Name: myapp_letterhead_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_letterhead ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_letterhead_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_managerprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_managerprofile (
    id bigint NOT NULL,
    phone character varying(15),
    gender character varying(10),
    date_of_birth date,
    address text,
    designation character varying(100),
    department character varying(100),
    employee_id character varying(50),
    joining_date date,
    bank_name character varying(100),
    account_number character varying(50),
    ifsc_code character varying(20),
    branch character varying(100),
    profile_picture character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    aadhaar_number character varying(12),
    blood_group character varying(10),
    emergency_contact_name character varying(100),
    emergency_contact_phone character varying(15),
    emergency_contact_relation character varying(100),
    marital_status character varying(20),
    nationality character varying(100),
    pan_number character varying(10),
    permanent_address text
);


ALTER TABLE public.myapp_managerprofile OWNER TO postgres;

--
-- Name: myapp_managerprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_managerprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_managerprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_notification (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    target_role character varying(20) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    sender_id bigint NOT NULL
);


ALTER TABLE public.myapp_notification OWNER TO postgres;

--
-- Name: myapp_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_offboarding; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_offboarding (
    id bigint NOT NULL,
    action_type character varying(20) NOT NULL,
    reason text NOT NULL,
    date date NOT NULL,
    created_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.myapp_offboarding OWNER TO postgres;

--
-- Name: myapp_offboarding_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_offboarding ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_offboarding_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_orgchart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_orgchart (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    role character varying(100) NOT NULL,
    profile_picture character varying(100),
    department character varying(100) NOT NULL,
    company_name character varying(100) NOT NULL,
    employee_months integer NOT NULL,
    work_mode character varying(50) NOT NULL,
    manager_id bigint
);


ALTER TABLE public.myapp_orgchart OWNER TO postgres;

--
-- Name: myapp_orgchart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_orgchart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_orgchart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_payroll; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_payroll (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_date timestamp with time zone NOT NULL,
    month_year character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.myapp_payroll OWNER TO postgres;

--
-- Name: myapp_payroll_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_payroll ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_payroll_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_subscriptionplan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_subscriptionplan (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    price numeric(10,2) NOT NULL,
    duration_months integer NOT NULL,
    features text NOT NULL,
    trial_period_days integer NOT NULL
);


ALTER TABLE public.myapp_subscriptionplan OWNER TO postgres;

--
-- Name: myapp_subscriptionplan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_subscriptionplan ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_subscriptionplan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_superadmin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_superadmin (
    id bigint NOT NULL,
    can_manage_admins boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.myapp_superadmin OWNER TO postgres;

--
-- Name: myapp_superadmin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_superadmin ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_superadmin_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_supportquery; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_supportquery (
    id bigint NOT NULL,
    subject character varying(255) NOT NULL,
    message text NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    sender_id bigint NOT NULL
);


ALTER TABLE public.myapp_supportquery OWNER TO postgres;

--
-- Name: myapp_supportquery_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_supportquery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_supportquery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_task (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    deadline date NOT NULL,
    priority character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    assigned_to_id bigint NOT NULL,
    created_by_id bigint NOT NULL,
    completed_at timestamp with time zone,
    description text,
    employee_note text,
    assigned_by_team_leader_id bigint,
    assigned_team_leader_id bigint
);


ALTER TABLE public.myapp_task OWNER TO postgres;

--
-- Name: myapp_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_task ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_teamleaderprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_teamleaderprofile (
    id bigint NOT NULL,
    phone character varying(15),
    gender character varying(10),
    date_of_birth date,
    address text,
    designation character varying(100),
    department character varying(100),
    employee_id character varying(50),
    joining_date date,
    bank_name character varying(100),
    account_number character varying(50),
    ifsc_code character varying(20),
    branch character varying(100),
    aadhaar_number character varying(12),
    pan_number character varying(10),
    marital_status character varying(20),
    nationality character varying(100),
    permanent_address text,
    emergency_contact_name character varying(100),
    emergency_contact_phone character varying(15),
    emergency_contact_relation character varying(100),
    blood_group character varying(10),
    profile_picture character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.myapp_teamleaderprofile OWNER TO postgres;

--
-- Name: myapp_teamleaderprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_teamleaderprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_teamleaderprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_transactions (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    transaction_date timestamp with time zone NOT NULL,
    company_id bigint NOT NULL,
    subscription_plan_id bigint
);


ALTER TABLE public.myapp_transactions OWNER TO postgres;

--
-- Name: myapp_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_transactions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    location character varying(255),
    phone_number character varying(15)
);


ALTER TABLE public.myapp_user OWNER TO postgres;

--
-- Name: myapp_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.myapp_user_groups OWNER TO postgres;

--
-- Name: myapp_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: myapp_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.myapp_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.myapp_user_user_permissions OWNER TO postgres;

--
-- Name: myapp_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.myapp_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.myapp_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
6kdcfrj87gt0acvmrfpx4eyytvendz5p	.eJxVjDsOwjAQBe_iGlmbtZ3dUNJzBmv9CQkgW4qTCnF3iJQC2jcz76W8bOvkt5YXPyd1VqxOv1uQ-MhlB-ku5VZ1rGVd5qB3RR-06WtN-Xk53L-DSdr0rYWQWKzDAcEhDhDYQGcys-WRM9keRuqiM4KJsCfoQcZkggtZOrCk3h-kIjaB:1wHys6:56RxRtgnEGOT0IwKgTkQ7ymiUu5dd_6xLQqeCZVlZTk	2026-05-13 12:28:10.124617+05:30
\.


--
-- Data for Name: myapp_adminprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_adminprofile (id, bio, address, created_at, updated_at, user_id) FROM stdin;
1	Human Resources Administrator	HR Department, Main Office	2026-04-28 14:21:02.934415+05:30	2026-04-28 17:38:34.732579+05:30	1
4	\N	\N	2026-04-30 13:01:16.607512+05:30	2026-05-06 16:51:26.47254+05:30	10
2	\N	\N	2026-04-30 12:27:09.745885+05:30	2026-05-06 16:51:27.2311+05:30	9
\.


--
-- Data for Name: myapp_appreciation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_appreciation (id, title, description, amount, created_at, recipient_id, sender_id) FROM stdin;
1	Top Performer of the Week	Excellent work on resolving the client issues ahead of schedule.	250.00	2026-04-27 12:46:03.192097+05:30	4	2
37	Top performer	best employee of the month	5000.00	2026-04-29 14:06:39.817116+05:30	7	2
35	hardworking	done the project on time	5000.00	2026-04-28 16:08:46.810669+05:30	4	2
34	hardworking	done the project on time	5000.00	2026-04-28 16:06:10.208298+05:30	5	2
\.


--
-- Data for Name: myapp_asset; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_asset (id, name, asset_type, serial_number, status, purchase_date, created_at, assigned_to_id) FROM stdin;
1	Dell	Laptop	dell-01	assigned	2024-04-22	2026-04-29	4
\.


--
-- Data for Name: myapp_attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_company; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_companydocument; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_companydocument (id, title, file, created_at, uploaded_by_id) FROM stdin;
1	POL	documents/SILLC_CONFIDENTIAL_-_POL_2025-111_1_qckT9lr.pdf	2026-05-04 12:20:20.63996+05:30	11
2	Imp	documents/SILLC_CONFIDENTIAL_-_POL_2025-111_2.pdf	2026-05-04 18:15:03.914758+05:30	11
3	OFFER LETTER	documents/SIRIKONDA_BHANU_SANJANA-Internship_Offer_Letter.pdf	2026-05-05 12:00:33.262081+05:30	11
4	report	documents/violations_report.pdf	2026-05-05 16:17:44.672701+05:30	11
\.


--
-- Data for Name: myapp_companypolicy; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_companypolicy (id, title, description, created_at, updated_at, file) FROM stdin;
1	Company Guidelines	Employee must follow rules	2026-05-04 11:54:02.969057+05:30	2026-05-04 11:54:02.969077+05:30	
2	SILLC-  Confidential	DO's and DON'T's	2026-05-04 11:54:52.832871+05:30	2026-05-04 11:54:52.832889+05:30	
\.


--
-- Data for Name: myapp_employee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_expense; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_expense (id, amount, category, description, date, status, created_at, employee_id) FROM stdin;
1	500.00	Office Supplies	Testing expenses	2026-04-30	pending	2026-04-30 14:48:37.170226+05:30	6
2	500.00	Travel	test	2026-04-30	pending	2026-04-30 14:49:11.296045+05:30	6
3	500.00	Travel	Test Expense	2026-04-30	pending	2026-04-30 14:53:44.412174+05:30	6
\.


--
-- Data for Name: myapp_holiday; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_holiday (id, name, date, description, created_at) FROM stdin;
1	New Year's Day	2026-01-01	Start of the year holiday.	2026-04-27 12:28:29.213668+05:30
2	May day	2026-05-01	mayday	2026-04-27 14:11:33.830136+05:30
3	second saturday	2026-05-02	second saturday is holiday	2026-04-28 15:59:58.776247+05:30
\.


--
-- Data for Name: myapp_leaverequest; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_letterhead; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_letterhead (id, title, document_type, file, created_at) FROM stdin;
\.


--
-- Data for Name: myapp_managerprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_offboarding; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_offboarding (id, action_type, reason, date, created_at, employee_id) FROM stdin;
1	warning	Repeated late arrival to meetings.	2026-04-28	2026-04-28 10:45:38.891557+05:30	4
2	warning	Repeated unauthorized absences from work.	2026-04-29	2026-04-29 14:27:59.753126+05:30	3
\.


--
-- Data for Name: myapp_orgchart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_orgchart (id, name, role, profile_picture, department, company_name, employee_months, work_mode, manager_id) FROM stdin;
1	ross	admin		IT	Shnoor	13	remote	\N
2	joey	Manager		IT	Shnoor	12	onsite	1
3	Bhanu	Employee		IT	Shnoor	5	hybrid	2
6	Charlie	HR		HR	Shnoor	15	onsite	\N
7	Benny	HR-Intern		HR	SHnoor	6	onsite	6
8	chan	Intern Devops		IT	Shnoor	6	remote	3
9	Alen	Intern		IT	Shnoor	7	onsite	3
10	ABs	Manager		IT	Shnoor	8	hybrid	1
11	Janice	Team Leader		IT_01	Shnoor	7	remote	2
12	Joe	Employee		IT_01	Shnoor	4	remote	11
13	Robert	Intern		IT_01	Shnoor	3	remote	11
\.


--
-- Data for Name: myapp_payroll; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_payroll (id, amount, payment_date, month_year, status, employee_id) FROM stdin;
1	50000.00	2026-04-28 10:36:15.278234+05:30	04-2026	paid	1
2	50000.00	2026-04-28 16:14:07.821201+05:30	04-2026	paid	2
3	50000.00	2026-04-29 10:10:43.271792+05:30	04-2026	paid	4
\.


--
-- Data for Name: myapp_subscriptionplan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_subscriptionplan (id, name, price, duration_months, features, trial_period_days) FROM stdin;
1	premium	45.00	1	10 members can login at a time	7
2	Mega	1000.00	1	10 users can access the features	7
3	premium	10000.00	12	ten members can use	7
\.


--
-- Data for Name: myapp_superadmin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_superadmin (id, can_manage_admins, created_at, user_id) FROM stdin;
1	t	2026-04-27 11:41:31.834074+05:30	2
\.


--
-- Data for Name: myapp_supportquery; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_supportquery (id, subject, message, status, created_at, updated_at, sender_id) FROM stdin;
1	System Lag Issue	The dashboard is taking too long to load during peak hours. Please optimize.	resolved	2026-04-27 11:46:50.879746+05:30	2026-04-27 11:48:21.976184+05:30	2
2	make me as a admin	Need to do operations.	resolved	2026-04-27 17:43:20.523509+05:30	2026-04-27 17:44:25.923771+05:30	2
\.


--
-- Data for Name: myapp_task; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_teamleaderprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_transactions (id, amount, transaction_date, company_id, subscription_plan_id) FROM stdin;
1	10000.00	2026-04-27 11:17:55.55978+05:30	6	1
\.


--
-- Data for Name: myapp_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: myapp_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: myapp_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.myapp_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 157, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 20, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 63, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 89, true);


--
-- Name: myapp_adminprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_adminprofile_id_seq', 4, true);


--
-- Name: myapp_appreciation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_appreciation_id_seq', 37, true);


--
-- Name: myapp_asset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_asset_id_seq', 1, true);


--
-- Name: myapp_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_attendance_id_seq', 21, true);


--
-- Name: myapp_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_company_id_seq', 10, true);


--
-- Name: myapp_companypolicy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_companypolicy_id_seq', 2, true);


--
-- Name: myapp_document_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_document_id_seq', 4, true);


--
-- Name: myapp_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_employee_id_seq', 7, true);


--
-- Name: myapp_expense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_expense_id_seq', 3, true);


--
-- Name: myapp_holiday_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_holiday_id_seq', 3, true);


--
-- Name: myapp_leaverequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_leaverequest_id_seq', 17, true);


--
-- Name: myapp_letterhead_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_letterhead_id_seq', 1, false);


--
-- Name: myapp_managerprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_managerprofile_id_seq', 1, true);


--
-- Name: myapp_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_notification_id_seq', 7, true);


--
-- Name: myapp_offboarding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_offboarding_id_seq', 2, true);


--
-- Name: myapp_orgchart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_orgchart_id_seq', 13, true);


--
-- Name: myapp_payroll_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_payroll_id_seq', 3, true);


--
-- Name: myapp_subscriptionplan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_subscriptionplan_id_seq', 3, true);


--
-- Name: myapp_superadmin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_superadmin_id_seq', 1, true);


--
-- Name: myapp_supportquery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_supportquery_id_seq', 2, true);


--
-- Name: myapp_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_task_id_seq', 25, true);


--
-- Name: myapp_teamleaderprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_teamleaderprofile_id_seq', 1, true);


--
-- Name: myapp_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_transactions_id_seq', 1, true);


--
-- Name: myapp_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_user_groups_id_seq', 1, false);


--
-- Name: myapp_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_user_id_seq', 13, true);


--
-- Name: myapp_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.myapp_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: myapp_adminprofile myapp_adminprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_adminprofile
    ADD CONSTRAINT myapp_adminprofile_pkey PRIMARY KEY (id);


--
-- Name: myapp_adminprofile myapp_adminprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_adminprofile
    ADD CONSTRAINT myapp_adminprofile_user_id_key UNIQUE (user_id);


--
-- Name: myapp_appreciation myapp_appreciation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_appreciation
    ADD CONSTRAINT myapp_appreciation_pkey PRIMARY KEY (id);


--
-- Name: myapp_asset myapp_asset_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_asset
    ADD CONSTRAINT myapp_asset_pkey PRIMARY KEY (id);


--
-- Name: myapp_asset myapp_asset_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_asset
    ADD CONSTRAINT myapp_asset_serial_number_key UNIQUE (serial_number);


--
-- Name: myapp_attendance myapp_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_attendance
    ADD CONSTRAINT myapp_attendance_pkey PRIMARY KEY (id);


--
-- Name: myapp_company myapp_company_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_company
    ADD CONSTRAINT myapp_company_email_key UNIQUE (email);


--
-- Name: myapp_company myapp_company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_company
    ADD CONSTRAINT myapp_company_pkey PRIMARY KEY (id);


--
-- Name: myapp_companypolicy myapp_companypolicy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_companypolicy
    ADD CONSTRAINT myapp_companypolicy_pkey PRIMARY KEY (id);


--
-- Name: myapp_companydocument myapp_document_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_companydocument
    ADD CONSTRAINT myapp_document_pkey PRIMARY KEY (id);


--
-- Name: myapp_employee myapp_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_employee
    ADD CONSTRAINT myapp_employee_pkey PRIMARY KEY (id);


--
-- Name: myapp_employee myapp_employee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_employee
    ADD CONSTRAINT myapp_employee_user_id_key UNIQUE (user_id);


--
-- Name: myapp_expense myapp_expense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_expense
    ADD CONSTRAINT myapp_expense_pkey PRIMARY KEY (id);


--
-- Name: myapp_holiday myapp_holiday_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_holiday
    ADD CONSTRAINT myapp_holiday_pkey PRIMARY KEY (id);


--
-- Name: myapp_leaverequest myapp_leaverequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_leaverequest
    ADD CONSTRAINT myapp_leaverequest_pkey PRIMARY KEY (id);


--
-- Name: myapp_letterhead myapp_letterhead_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_letterhead
    ADD CONSTRAINT myapp_letterhead_pkey PRIMARY KEY (id);


--
-- Name: myapp_managerprofile myapp_managerprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_managerprofile
    ADD CONSTRAINT myapp_managerprofile_pkey PRIMARY KEY (id);


--
-- Name: myapp_managerprofile myapp_managerprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_managerprofile
    ADD CONSTRAINT myapp_managerprofile_user_id_key UNIQUE (user_id);


--
-- Name: myapp_notification myapp_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_notification
    ADD CONSTRAINT myapp_notification_pkey PRIMARY KEY (id);


--
-- Name: myapp_offboarding myapp_offboarding_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_offboarding
    ADD CONSTRAINT myapp_offboarding_pkey PRIMARY KEY (id);


--
-- Name: myapp_orgchart myapp_orgchart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_orgchart
    ADD CONSTRAINT myapp_orgchart_pkey PRIMARY KEY (id);


--
-- Name: myapp_payroll myapp_payroll_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_payroll
    ADD CONSTRAINT myapp_payroll_pkey PRIMARY KEY (id);


--
-- Name: myapp_subscriptionplan myapp_subscriptionplan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_subscriptionplan
    ADD CONSTRAINT myapp_subscriptionplan_pkey PRIMARY KEY (id);


--
-- Name: myapp_superadmin myapp_superadmin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_superadmin
    ADD CONSTRAINT myapp_superadmin_pkey PRIMARY KEY (id);


--
-- Name: myapp_superadmin myapp_superadmin_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_superadmin
    ADD CONSTRAINT myapp_superadmin_user_id_key UNIQUE (user_id);


--
-- Name: myapp_supportquery myapp_supportquery_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_supportquery
    ADD CONSTRAINT myapp_supportquery_pkey PRIMARY KEY (id);


--
-- Name: myapp_task myapp_task_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_task
    ADD CONSTRAINT myapp_task_pkey PRIMARY KEY (id);


--
-- Name: myapp_teamleaderprofile myapp_teamleaderprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_teamleaderprofile
    ADD CONSTRAINT myapp_teamleaderprofile_pkey PRIMARY KEY (id);


--
-- Name: myapp_teamleaderprofile myapp_teamleaderprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_teamleaderprofile
    ADD CONSTRAINT myapp_teamleaderprofile_user_id_key UNIQUE (user_id);


--
-- Name: myapp_transactions myapp_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_transactions
    ADD CONSTRAINT myapp_transactions_pkey PRIMARY KEY (id);


--
-- Name: myapp_user_groups myapp_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_groups
    ADD CONSTRAINT myapp_user_groups_pkey PRIMARY KEY (id);


--
-- Name: myapp_user_groups myapp_user_groups_user_id_group_id_1ef5feb7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_groups
    ADD CONSTRAINT myapp_user_groups_user_id_group_id_1ef5feb7_uniq UNIQUE (user_id, group_id);


--
-- Name: myapp_user myapp_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user
    ADD CONSTRAINT myapp_user_pkey PRIMARY KEY (id);


--
-- Name: myapp_user_user_permissions myapp_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_user_permissions
    ADD CONSTRAINT myapp_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: myapp_user_user_permissions myapp_user_user_permissions_user_id_permission_id_13102f46_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_user_permissions
    ADD CONSTRAINT myapp_user_user_permissions_user_id_permission_id_13102f46_uniq UNIQUE (user_id, permission_id);


--
-- Name: myapp_user myapp_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user
    ADD CONSTRAINT myapp_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: myapp_appreciation_recipient_id_7b45b4f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_appreciation_recipient_id_7b45b4f0 ON public.myapp_appreciation USING btree (recipient_id);


--
-- Name: myapp_appreciation_sender_id_3665d382; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_appreciation_sender_id_3665d382 ON public.myapp_appreciation USING btree (sender_id);


--
-- Name: myapp_asset_assigned_to_id_4686f863; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_asset_assigned_to_id_4686f863 ON public.myapp_asset USING btree (assigned_to_id);


--
-- Name: myapp_asset_serial_number_0827391e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_asset_serial_number_0827391e_like ON public.myapp_asset USING btree (serial_number varchar_pattern_ops);


--
-- Name: myapp_attendance_employee_id_23ce3b94; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_attendance_employee_id_23ce3b94 ON public.myapp_attendance USING btree (employee_id);


--
-- Name: myapp_company_email_74cb924e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_company_email_74cb924e_like ON public.myapp_company USING btree (email varchar_pattern_ops);


--
-- Name: myapp_document_uploaded_by_id_387c7c52; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_document_uploaded_by_id_387c7c52 ON public.myapp_companydocument USING btree (uploaded_by_id);


--
-- Name: myapp_employee_team_leader_id_60d09f78; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_employee_team_leader_id_60d09f78 ON public.myapp_employee USING btree (team_leader_id);


--
-- Name: myapp_expense_employee_id_43d1575e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_expense_employee_id_43d1575e ON public.myapp_expense USING btree (employee_id);


--
-- Name: myapp_leaverequest_employee_id_11a5c00e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_leaverequest_employee_id_11a5c00e ON public.myapp_leaverequest USING btree (employee_id);


--
-- Name: myapp_notification_sender_id_083ce63f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_notification_sender_id_083ce63f ON public.myapp_notification USING btree (sender_id);


--
-- Name: myapp_offboarding_employee_id_7478f4f3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_offboarding_employee_id_7478f4f3 ON public.myapp_offboarding USING btree (employee_id);


--
-- Name: myapp_orgchart_manager_id_5166c244; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_orgchart_manager_id_5166c244 ON public.myapp_orgchart USING btree (manager_id);


--
-- Name: myapp_payroll_employee_id_7465a78f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_payroll_employee_id_7465a78f ON public.myapp_payroll USING btree (employee_id);


--
-- Name: myapp_supportquery_sender_id_9241bec4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_supportquery_sender_id_9241bec4 ON public.myapp_supportquery USING btree (sender_id);


--
-- Name: myapp_task_assigned_by_team_leader_id_6eb747fd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_task_assigned_by_team_leader_id_6eb747fd ON public.myapp_task USING btree (assigned_by_team_leader_id);


--
-- Name: myapp_task_assigned_team_leader_id_90b289f4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_task_assigned_team_leader_id_90b289f4 ON public.myapp_task USING btree (assigned_team_leader_id);


--
-- Name: myapp_task_assigned_to_id_f28cd478; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_task_assigned_to_id_f28cd478 ON public.myapp_task USING btree (assigned_to_id);


--
-- Name: myapp_task_created_by_id_69179a37; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_task_created_by_id_69179a37 ON public.myapp_task USING btree (created_by_id);


--
-- Name: myapp_transactions_company_id_857040d4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_transactions_company_id_857040d4 ON public.myapp_transactions USING btree (company_id);


--
-- Name: myapp_transactions_subscription_plan_id_ee81b586; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_transactions_subscription_plan_id_ee81b586 ON public.myapp_transactions USING btree (subscription_plan_id);


--
-- Name: myapp_user_groups_group_id_488eb0fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_user_groups_group_id_488eb0fb ON public.myapp_user_groups USING btree (group_id);


--
-- Name: myapp_user_groups_user_id_925f87c5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_user_groups_user_id_925f87c5 ON public.myapp_user_groups USING btree (user_id);


--
-- Name: myapp_user_user_permissions_permission_id_4657f93a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_user_user_permissions_permission_id_4657f93a ON public.myapp_user_user_permissions USING btree (permission_id);


--
-- Name: myapp_user_user_permissions_user_id_3f0ef5c3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_user_user_permissions_user_id_3f0ef5c3 ON public.myapp_user_user_permissions USING btree (user_id);


--
-- Name: myapp_user_username_a1e18371_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX myapp_user_username_a1e18371_like ON public.myapp_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_adminprofile myapp_adminprofile_user_id_41b4666f_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_adminprofile
    ADD CONSTRAINT myapp_adminprofile_user_id_41b4666f_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_appreciation myapp_appreciation_recipient_id_7b45b4f0_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_appreciation
    ADD CONSTRAINT myapp_appreciation_recipient_id_7b45b4f0_fk_myapp_user_id FOREIGN KEY (recipient_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_appreciation myapp_appreciation_sender_id_3665d382_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_appreciation
    ADD CONSTRAINT myapp_appreciation_sender_id_3665d382_fk_myapp_user_id FOREIGN KEY (sender_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_asset myapp_asset_assigned_to_id_4686f863_fk_myapp_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_asset
    ADD CONSTRAINT myapp_asset_assigned_to_id_4686f863_fk_myapp_employee_id FOREIGN KEY (assigned_to_id) REFERENCES public.myapp_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_attendance myapp_attendance_employee_id_23ce3b94_fk_myapp_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_attendance
    ADD CONSTRAINT myapp_attendance_employee_id_23ce3b94_fk_myapp_employee_id FOREIGN KEY (employee_id) REFERENCES public.myapp_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_companydocument myapp_document_uploaded_by_id_387c7c52_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_companydocument
    ADD CONSTRAINT myapp_document_uploaded_by_id_387c7c52_fk_myapp_user_id FOREIGN KEY (uploaded_by_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_employee myapp_employee_team_leader_id_60d09f78_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_employee
    ADD CONSTRAINT myapp_employee_team_leader_id_60d09f78_fk_myapp_user_id FOREIGN KEY (team_leader_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_employee myapp_employee_user_id_cd8f9103_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_employee
    ADD CONSTRAINT myapp_employee_user_id_cd8f9103_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_expense myapp_expense_employee_id_43d1575e_fk_myapp_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_expense
    ADD CONSTRAINT myapp_expense_employee_id_43d1575e_fk_myapp_employee_id FOREIGN KEY (employee_id) REFERENCES public.myapp_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_leaverequest myapp_leaverequest_employee_id_11a5c00e_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_leaverequest
    ADD CONSTRAINT myapp_leaverequest_employee_id_11a5c00e_fk_myapp_user_id FOREIGN KEY (employee_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_managerprofile myapp_managerprofile_user_id_a7aafee5_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_managerprofile
    ADD CONSTRAINT myapp_managerprofile_user_id_a7aafee5_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_notification myapp_notification_sender_id_083ce63f_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_notification
    ADD CONSTRAINT myapp_notification_sender_id_083ce63f_fk_myapp_user_id FOREIGN KEY (sender_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_offboarding myapp_offboarding_employee_id_7478f4f3_fk_myapp_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_offboarding
    ADD CONSTRAINT myapp_offboarding_employee_id_7478f4f3_fk_myapp_employee_id FOREIGN KEY (employee_id) REFERENCES public.myapp_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_orgchart myapp_orgchart_manager_id_5166c244_fk_myapp_orgchart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_orgchart
    ADD CONSTRAINT myapp_orgchart_manager_id_5166c244_fk_myapp_orgchart_id FOREIGN KEY (manager_id) REFERENCES public.myapp_orgchart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_payroll myapp_payroll_employee_id_7465a78f_fk_myapp_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_payroll
    ADD CONSTRAINT myapp_payroll_employee_id_7465a78f_fk_myapp_employee_id FOREIGN KEY (employee_id) REFERENCES public.myapp_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_superadmin myapp_superadmin_user_id_9667c8c2_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_superadmin
    ADD CONSTRAINT myapp_superadmin_user_id_9667c8c2_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_supportquery myapp_supportquery_sender_id_9241bec4_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_supportquery
    ADD CONSTRAINT myapp_supportquery_sender_id_9241bec4_fk_myapp_user_id FOREIGN KEY (sender_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_task myapp_task_assigned_by_team_leader_id_6eb747fd_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_task
    ADD CONSTRAINT myapp_task_assigned_by_team_leader_id_6eb747fd_fk_myapp_user_id FOREIGN KEY (assigned_by_team_leader_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_task myapp_task_assigned_team_leader_id_90b289f4_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_task
    ADD CONSTRAINT myapp_task_assigned_team_leader_id_90b289f4_fk_myapp_user_id FOREIGN KEY (assigned_team_leader_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_task myapp_task_assigned_to_id_f28cd478_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_task
    ADD CONSTRAINT myapp_task_assigned_to_id_f28cd478_fk_myapp_user_id FOREIGN KEY (assigned_to_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_task myapp_task_created_by_id_69179a37_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_task
    ADD CONSTRAINT myapp_task_created_by_id_69179a37_fk_myapp_user_id FOREIGN KEY (created_by_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_teamleaderprofile myapp_teamleaderprofile_user_id_8bd6d286_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_teamleaderprofile
    ADD CONSTRAINT myapp_teamleaderprofile_user_id_8bd6d286_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_transactions myapp_transactions_company_id_857040d4_fk_myapp_company_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_transactions
    ADD CONSTRAINT myapp_transactions_company_id_857040d4_fk_myapp_company_id FOREIGN KEY (company_id) REFERENCES public.myapp_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_transactions myapp_transactions_subscription_plan_id_ee81b586_fk_myapp_sub; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_transactions
    ADD CONSTRAINT myapp_transactions_subscription_plan_id_ee81b586_fk_myapp_sub FOREIGN KEY (subscription_plan_id) REFERENCES public.myapp_subscriptionplan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_user_groups myapp_user_groups_group_id_488eb0fb_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_groups
    ADD CONSTRAINT myapp_user_groups_group_id_488eb0fb_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_user_groups myapp_user_groups_user_id_925f87c5_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_groups
    ADD CONSTRAINT myapp_user_groups_user_id_925f87c5_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_user_user_permissions myapp_user_user_perm_permission_id_4657f93a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_user_permissions
    ADD CONSTRAINT myapp_user_user_perm_permission_id_4657f93a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: myapp_user_user_permissions myapp_user_user_permissions_user_id_3f0ef5c3_fk_myapp_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.myapp_user_user_permissions
    ADD CONSTRAINT myapp_user_user_permissions_user_id_3f0ef5c3_fk_myapp_user_id FOREIGN KEY (user_id) REFERENCES public.myapp_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict ZQ42lv3vOOkdRp2YJ0yfSesKbvffUSEwC5SszSpEpSqhAZY3RFvOh2JT2ULyNDe

